.product-card {
  background: #1d0c41;
  opacity: 0.6;
  backdrop-filter: blur(45px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.product-card h4 {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  color: #ffffff;
}
.product-card h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #dadada;
}
