.product-card {
  background: #1d0c41;
  opacity: 0.6;
  backdrop-filter: blur(45px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.product-card h4 {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  color: #ffffff;
}
.product-card h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #dadada;
}
.search-field {
  background: #2d2853;
  opacity: 0.6;
  backdrop-filter: blur(45px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* .pagination {
  margin: 30px;
}
.pagination button {
  padding: 0 10px;
  margin-right: 20px;
}
.pagination .selected {
  background-color: blue;
  color: white;
} */

.page {
  /* background-color: rgb(11, 11, 22) !important; */
  /* opacity: 0.6; */
  margin-left: 20px;
  text-decoration: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 50%;
}
